thead.log, tbody.log { display: block; }

tbody.log {
    height: 400px;       
    overflow-y: auto;   
    overflow-x: hidden; 
    width: 100%;
}

table, th, td {
    /* border: 1px solid black; */
}